@import url('photographer.css');
@import url('caroussel.css');
@import url('select.css');

:root {
    --default: #312E2E;
    --primary-color: #901C1C;
    /*--secondary-color: #D04526; !*AAA*!*/
    /*--secondary-color: #D3573C; !*3.81 AA*!*/
    --secondary-color: #E46A4f; /*3.1 AA*/
    --tertiary-text-color: #737272;
    --tertiary-bg-color: #FAFAFA;
    --font-family: 'DM Sans', sans-serif;
    --timing: .3s;
}

body {
    font-family: var(--font-family);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 60px 0;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
}

.photographer_section article img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.photographer_section .photographer-anchor {
    text-decoration: none;
}
.photographer_section article .photographer-title {
    margin: 0;
}

.photographer_section article .photographer-description {
    margin: 10px;
    color: var(--default);
}

.photographer_section article .photographer-price {
    color: var(--tertiary-text-color);
}

.photographer_section article .photographer-location {
    color: var(--primary-color);
    margin: 0;
}
